@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #26303A;
}

::-webkit-scrollbar-thumb {
  background: #12D197;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0fb882;
}

/* Text selection */
::selection {
  background: #12D197;
  color: #26303A;
}
